.authorButtons {
    text-align: left;
}

.authorButtons {
    padding: 1rem;
    border: none;
    background-color: var(--red);
    color: var(--white-sand);
    border-radius: 0.375rem;
    transition: background-color ease-in 0.15s;
    height: 58px;
    display: flex;
    align-items: center;
}

.authorButtons:hover {
    cursor: pointer;
    background-color: var(--darker-red);
    transition: background-color ease-in 0.15s;
}

.authorButtons:focus {
    background-color: var(--darker-red);
}

.carousel {
    height: 500px;
}

.carousel .carousel-item {
    width: 400px;
    height: 500px;
    overflow-y: hidden;
}


li.parent {
    border-top: 2px solid grey;
}


.commentsBorder {
    border-bottom: 1px solid grey;
}

ul.children li {
    margin-left: 3em;
    background-color: rgb(247, 247, 247);
}

ul.children li:nth-child(odd) {
    margin-left: 3em;
    background-color: rgba(104, 138, 100, 0.171);
}


li.comment:last-child {
    margin-bottom: 10px;
}

.comment {
    padding-left: 5px;
}

.comment-author a {
    color: rgb(24, 24, 24);
    font-size: larger;

}

.comment-meta a {
    color: rgb(80, 80, 80);
    font-size: x-small;
}

.reply {
    margin-bottom: 5px;
}

.comment-reply-link {
    margin-right: 20px;
    font-size: large;
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
    color: #eeeeee;
}

.comment-reply-link:hover {
    background-color: #f79595;
}

.comment-reply-title {
    font-size: larger;
    color: #eeeeee;
}

.comment-reply-title a {
    font-size: small;
    color: #eeeeee;
}

#cancel-comment-reply-link {
    color: #00413a;
}

#cancel-comment-reply-link:hover {
    text-decoration: underline;
    color: #2bbbad;
}

.logged-in-as a {
    color: #00413a;
}

.logged-in-as a:hover {
    text-decoration: underline;
    color: #2bbbad;
}

#navigateBackComments {
    color: #00413a;
    display: block;
    margin: 5px;
}

#navigateBackComments:hover {
    text-decoration: underline;
    color: #2bbbad;
}

#navigateBackComments:hover {
    text-decoration: underline;
    color: #2bbbad;
}

.required-field-message {
    color: #eee;
}

#commentFormLoader {
    display: none;
}

body {
    overflow: visible;
}

#orderButton {
    display: block;
    margin: auto;
    height: 4rem;
    font-size: 1.5rem;
}


/* Mobile */
@media screen and (max-width: 600px) {
    .carousel {
        height: 400px;
    }

    .carousel .carousel-item {
        width: 200px;
        height: 200px;
    }


}