li.parent {
  border-top: 2px solid grey;
}

.commentsBorder {
  border-bottom: 1px solid grey;
}

ul.children li {
  margin-left: 3em;
  background-color: rgb(247, 247, 247);
}

ul.children li:nth-child(odd) {
  margin-left: 3em;
  background-color: rgba(104, 138, 100, 0.171);
}

li.comment:last-child {
  margin-bottom: 10px;
}

.comment {
  padding-left: 5px;
}

.comment-author a {
  color: rgb(24, 24, 24);
  font-size: larger;
}

.comment-meta a {
  color: rgb(80, 80, 80);
  font-size: x-small;
}

.reply {
  margin-bottom: 5px;
}

.comment-reply-link {
  margin-right: 20px;
  font-size: large;
  background-color: #f66565;
  padding: 5px;
  border-radius: 5px;
  color: #eeeeee;
}

.comment-reply-link:hover {
  background-color: #f79595;
}

.comment-reply-title {
  font-size: larger;
  color: #eeeeee;
}

.comment-reply-title a {
  font-size: small;
  color: #eeeeee;
}

#cancel-comment-reply-link {
  color: #00413a;
}

#cancel-comment-reply-link:hover {
  text-decoration: underline;
  color: #2bbbad;
}

.logged-in-as a {
  color: #00413a;
}

.logged-in-as a:hover {
  text-decoration: underline;
  color: #2bbbad;
}

#navigateBackComments {
  color: #00413a;
  display: block;
  margin: 5px;
}

#navigateBackComments:hover {
  text-decoration: underline;
  color: #2bbbad;
}

#navigateBackComments:hover {
  text-decoration: underline;
  color: #2bbbad;
}

.required-field-message {
  color: #eee;
}

#commentFormLoader {
  display: none;
}

body {
  overflow: visible;
}

@keyframes animateBasket {
  0% {
    transform: rotate(0.1turn);
  }

  25% {
    transform: rotate(-0.1turn);
  }

  50% {
    transform: rotate(0.1turn);
  }

  75% {
    transform: rotate(-0.1turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

#basket-animation {
  font-size: 1.5rem;
  animation-name: animateBasket;
  animation-duration: 2s;
}

#display_new_profile_picture {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.title-order-button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--red);
  color: var(--white-sand);
  border-radius: 0.375rem;
  transition: background-color ease-in 0.15s;
  cursor: pointer;
  
}

.title-order-button:hover {
  background-color: var(--darker-red);
}

.title-order-button a{
  color: var(--white-sand)
}